/* *{ */
    /* margin: 0;
    padding: 0;
} */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#addToCart{
    margin: 20px;
    width: 200px
}
#submit{
    width: 280px;
    margin: 20px;
}
